<section>
    <div>
        <div class="inline-flex items-center rounded-full border border-slate-800 bg-orange-500/10 px-4 py-2 text-sm text-white font-bold backdrop-blur">
            Amateur Radio · Antenna Design · RF Investigation
        </div>
        <div class="mt-6 text-sm uppercase tracking-[0.34em] text-slate-800">Callsign</div>
        <h1 class="mt-3 text-5xl font-semibold tracking-tight text-white sm:text-6xl">
            AF0FR
        </h1>
        <p class="mt-6 max-w-2xl text-lg leading-8 text-slate-800">
            Hey — glad you made it here. I’m Taylor, callsign AF0FR. I got licensed in March 2026, but have been around radios a lot longer — building electronics, listening in, and trying to understand how everything works. QTH is in St. Louis, and always up for a QSO.
            These days, that’s turned into a lot of antenna tinkering and DIY radio setups. This page shares a bit of that.
            <br>
            - 73
        </p>
        <div class="flex items-center gap-4 mt-4">
            <button
                type="button"
                (click)="openQrz()"
                class="flex items-center justify-center h-12 rounded-full bg-white px-6 text-sm font-semibold text-slate-950 transition hover:scale-[1.02]"
            >
                <img
                    src="/assets/images/qrz_com.png"
                    alt="QRZ"
                    class="h-8 w-auto"
                />
            </button>
            <button
                type="button"
                (click)="scrollToAntennaBuild()"
                class="flex items-center justify-center h-12 rounded-full bg-white px-6 text-sm font-semibold text-slate-950 transition hover:scale-[1.02]"
            >
                Antenna Build
            </button>
            <button
                    type="button"
                    (click)="scrollToEchoLinkBuild()"
                    class="flex items-center justify-center h-12 rounded-full bg-white px-6 text-sm font-semibold text-slate-950 transition hover:scale-[1.02]"
            >
                EchoLink Build
            </button>
        </div>
    </div>
</section>